<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088604703682-713c5dfq20qbhok8c9hvfd5njqvv0sql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088604703682-713c5dfq20qbhok8c9hvfd5njqvv0sql</string>
	<key>API_KEY</key>
	<string>AIzaSyD9lpnJXU3ZuvuMrcQ6mrFVh-y9tmxcD3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1088604703682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyApp</string>
	<key>PROJECT_ID</key>
	<string>myapp-f568e</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-f568e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088604703682:ios:ae62f066e65a3c093ca45b</string>
</dict>
</plist>